
body {
    margin: 0;
    padding: 1rem 0;
    background: #ffffff;
    color: #000000;
    font-size: 1rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
a {
    transition: all 0.2s ease-in-out;
}
p {
    line-height: 1.4;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

body > header,
main,
footer {
    max-width: 1200px;
    margin: auto;
    /* background-color: #efefef; */
    margin-bottom: 1rem;
}

.menu,
main,
.content article,
footer, 
aside,
aside article,
footer > div {
    padding: 1rem;
}
main article {
    margin-bottom: 1rem;
}

.flex {
    display: flex;
}

body > header {
    background-image: url('images/header.jpg');
    background-size: 120%;
    background-position: 50% 58%;
    padding: 0 1rem;
    background-repeat: no-repeat;
}

.top-bar {
    /* background-color: darkslateblue; */
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
}
.top-bar div {
    /* background-color: brown; */
    padding: 1rem;
    /* margin: 1rem; */
    flex: 1 100%;
    color: #fff;
}
.top-bar .logo img {
    max-height: 75px;
}
.top-bar .logo,
.top-bar .social-links {
    flex: 1 20%;
}
.top-bar a {
    color: #808080;
}
.top-bar a:hover {
    color: #ee7463;
}

.menu {
    flex: 1 100%;
}

.menu ul {
    margin: 0;
    padding: 1rem;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menu ul li {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 0.85rem;
    line-height: 1;
    margin: 0;
}
.menu li a {
    display: flex;
    text-decoration: none;
}
.menu i {
    margin-right: 0.5rem;
}

.social-links a {
    margin-left: 1rem;
}
.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: rgba(80,80,80,0.15);
}
.headline h1 {
    color: #ee7463;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 3rem;
    opacity: 0.8;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 100%;
    /* justify-content: space-around; */
    background-color:indigo;
}

.content article {
    background-color: dodgerblue;
    margin: 1rem;
    width: calc(50% - 4rem);
}

.content .pagination {
    background-color: cornflowerblue;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
}

aside {
    background-color: brown;
    margin-left: 1rem;
    flex: 1 100%;
}

aside article {
    background-color: palegoldenrod;
}

footer > div {
    background-color: gold;
}

@media only screen and (max-width: 768px)  {
    main {
        background-color: gold;
        flex-direction: column;
    }
    aside {
        margin-top: 1rem;
        margin-left: 0;
    }
}

@media only screen and (max-width: 480px)  {
    .top-bar {
        flex-direction: column;
    }
    .logo,
    .social-links {
        text-align: center;
    }
    .content article {
        width: 100%;
    }
    body > header {
        background-size: cover;
    }
    .menu ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu ul li {
        margin-bottom: 1rem;
    }
    .headline {
        margin-top: 2rem;
        margin-left: 0;
        margin-right: 0;
    }
    .headline h1 {
        padding-bottom: 1rem;
    }
}
